@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

*{
    font-family: 'Dosis', sans-serif;
}

body{
    background-color: rgb(255, 238, 211) !important;
}

.NavBar{
    position: fixed !important;
    top: 0px;
    z-index: 4;
    width: 100%;
}

.TituloNavBar {
    letter-spacing: 2px;
    margin: 0px;
    text-decoration: none;
    color: rgb(255, 204, 0);
    font-size: 30px;
}

.ItemNavBar {
    color: rgb(255, 153, 0);
    font-size: 20px;
    margin-right: 15px;
}

.ImgContainer{
    flex: 1;
}

.ImageDetail{
    width: 100%;
    object-fit: contain;
}

.InfoContainer{
    flex: 1;
    padding: 0px 50px;
}

.cajaProductos{
    margin: 80px 0px 0px 0px !important;
    z-index: 2;
    opacity: 1;
}

.contenedorProductos{
    filter: contrast(110%);
    filter: brightness(110%);
}

/* CARDS*/

.Cards {
    margin: 2% 1.25%;
    border-width: 0px !important;
    padding: 0px 0px 0px 0px !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center;
    border-radius: 25px !important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.437);
}

.cardImagePreview {
    height: 250px !important;
    object-fit: cover !important;
    object-position: 25% 15%;
    z-index: 2;
    border-radius: 25px !important;
}

.cardInfo{
    opacity: 0;
    display: inline-flex;
    width: 100%;
    height: 100%;
    margin: 0px !important;
    padding: 0px !important;
    z-index: 3;
    position: absolute;
    top: 0px;
    justify-content: space-around !important;
    flex-direction: column !important;
    transition: all 1s ease;
    border-radius: 25px !important;
}

.cardInfo:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.633);
    border-radius: 25px !important;
}

.VerMas {
    padding: 0px !important;
    background-color: rgba(255, 255, 255, 0.856) !important;
    border-radius: 20px !important;
    border-color: black !important;
    width: 100%;
    height: 100%;
}

.VerMas:hover {
    outline: none !important;
    border-color: #ff0084 !important;
    box-shadow: 0 0 50px #ff0084 !important;
}

.VerMasText {
    margin: 0px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.cardVerMas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 18%;
}

.cardPrice{
    text-align: center;
    color: white;
    font-size: 25px;
}

.cardTitle{
    text-align: center;
    font-size: 30px !important;
    color: rgb(255, 153, 0);
}

.botonCant {
    background-color: rgb(255, 153, 0) !important;
    border-color: rgb(255, 255, 255) !important;
    border-width: 0px !important;
    border-radius: 25px !important;
    margin: 0%;
    width: 35px;
}

.addToCart{
    background-color: rgb(255, 153, 0) !important;
    border-color: rgb(255, 255, 255) !important;
    border-width: 0px !important;
    border-radius: 25px !important;
    margin: 1px;
    margin-left: 10px !important;
}

.ProductAmount {
    font-size: 24px;
    color: white;
    margin: 0% 2%;
}

.ProductAmountContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 100%;
}

.Link{
    width: 30%;
    height: 100%;
}