@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

*{
    font-family: 'Dosis', sans-serif;
}

.TituloNavBar {
    letter-spacing: 2px;
    margin: 0px;
    text-decoration: none;
    color: rgb(255, 204, 0);
    font-size: 30px;
}

.ItemNavBar {
    color: rgb(255, 204, 0);
    font-size: 20px;
}